body {
    padding-top: 50px;
    /*padding-bottom: 20px;*/
    /*background:url('../images/background/background.jpg');*/
    background-repeat:repeat;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    /*padding-left: 15px;
    padding-right: 15px;*/
    background-color: white;
    height:100%;
    width:100%;
}


.container-fluid {
    padding: 0;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
/*input,
select,
textarea {
    max-width: 280px;
}*/

/* Carousel */
.carousel-caption {
    z-index: 10 !important;
}

    .carousel-caption p {
        font-size: 20px;
        line-height: 1.4;
    }

@media (min-width: 768px) {
    .carousel-caption {
        z-index: 10 !important;
    }
}



.intro-header {
	height: 100%; /* Full PAge */
	padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
	padding-bottom: 50px;
	color: #f8f8f8;
	background: url(../img/intro/intro5.jpg) no-repeat center center;
	background-size: cover;
	text-align: center;
}

/*footer {
  background-color: #edeff1;
  color: #bac1c8;
  font-size: 15px;
  padding: 0;
}*/


html, body {
  height: 100%;
}
#wrap {
  min-height: 100%;
}

#main {
  overflow:auto;
  padding-bottom:150px; /* this needs to be bigger than footer height*/
}

.footer {
  position: relative;
  margin-top: -170px; /* negative value of footer height */
  height: 170px;
  clear:both;
  padding-top:20px;
  background-color: #edeff1;
} 

[ng-cloak]
{
  display: none !important;
}

 input.ng-invalid.ng-touched {
    background-color: #FA787E;
 }

 textarea.ng-invalid.ng-touched {
    background-color: #FA787E;
 }
/*.css-form input.ng-valid.ng-touched {
    background-color: #78FA89;
}*/ 