
<form role="form" name="frmAddReview" novalidate>
    <div ng-hide="vm.isWriteReviewActive">
        <a class="btn btn-info" ng-click="vm.addReviewClicked()">Write a review</a>
        <br />
    </div>
    <div class="col-sm-6" ng-show="vm.isWriteReviewActive">
        <div class="form-group">
            <label for="name">Your name</label>
            <div class="input-group">
                <input type="text" class="form-control" id="name" ng-model="vm.newReview.name" placeholder="Enter your name" required>
                <span class="input-group-addon"></span>
            </div>
        </div>
        <div class="form-group">
            <label for="email">Your email</label>
            <div class="input-group">
                <input type="email" class="form-control" id="email" ng-model="vm.newReview.email" placeholder="Enter your email" required>
                <span class="input-group-addon">
                </span>
            </div>
        </div>
        <div class="form-group">
            <label>Rating</label>
            <div>
                <rating value="vm.newReview.rating" max="5" set-rating="vm.setRating(vm.newReview, value)"></rating>
            </div>
        </div>
        <div class="form-group">
            <label for="review">Comment</label>
            <div class="input-group">
                <textarea type="text" class="form-control col-sm-10" rows="5" cols="12" id="review" ng-model="vm.newReview.comment" placeholder="Enter your comment" required />
                <span class="input-group-addon"></span>
            </div>
        </div>
        <div class="input-group">
            <div>
                <button type="submit" class="btn btn-success" ng-click="vm.addReview()" ng-disabled="frmAddReview.$invalid">Submit</button>
                <button type="submit" class="btn btn-warning" ng-click="vm.cancelReview(frmAddReview)">Cancel</button>
            </div>
        </div>
    </div>
</form>

<table class="table table-responsive table-striped">
    <tr ng-repeat="review in vm.reviews | orderBy : '-addedDate'">
        <td class="col-md-12">

            <div>
                <rating value="review.rating" max="5"></rating>
            </div>
            <div>
                <h4>By {{review.name}} on {{review.addedDate | date : "MMM d, yyyy" }}</h4>
            </div>

            <div>{{review.comment}}</div>

        </td>
    </tr>
</table>