

<div>
    <a ng-click="isWrieRewviewActive = !isWrieRewviewActive">Write a review</a>
    <div ng-show="isWrieRewviewActive">
        <div>
            <rating value="vm.newReview.rating" max="5" set-rating="vm.setRating(vm.newReview, value)"></rating>
        </div>
        <div>
            <input type="text" ng-model="vm.newReview.reviewText" />
        </div>
        <button type="button" ng-click="vm.addReview()">Submit</button>
    </div>
</div>
<table class="table table-responsive table-striped">
    <tr ng-repeat="review in vm.reviews">
        <td class="col-md-12">
            <div>
                <h2>{{review.reviewerName}}</h2>
            </div>
            <div>
                <rating value="review.rating" max="5" set-rating="vm.setRating(review, value)"></rating>
            </div>

            <div>Reservation Date: {{review.addedDate |date:'yyyy-MM-dd'}}</div>

            <div>Comment: {{review.reviewText}}</div>

        </td>
    </tr>
</table>