@section Scripts{
<script src="~/js/components/reviews.component.js"></script>
<script src="~/js/components/rating.component.js"></script>
}

<h2>Reviews</h2>
<div class="row" ng-app="taitu-app">
    <reviews></reviews>
</div>