@section Scripts{
    <script src="~/js/components/reviews.component.js"></script>
    <script src="~/js/components/rating.component.js"></script>
}

<div class="container">
    <h2>Reviews</h2>
    <div>
        <p>At Madam Taitu, we try to endulge our customers in delicous authentic Ethiopian cousin while immersed in various historical arts and decor listening to various jazz music.</p>
        <p>I hope you had enjoyed dinning at Madam Taitu, and we would like you to share your experience here so that we can learn to serve you better.</p>
    </div>
    <div class="row" ng-app="taitu-app">
        <reviews></reviews>
    </div>
</div>