<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - MadamTaitu</title>

        <environment names="Development">
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
            <link rel="stylesheet" href="~/lib/Font-Awesome/css/font-awesome.css"/>
            <link rel="stylesheet" href="~/css/site.css" />
        </environment>
        <environment names="Staging,Production">
            <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
            <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        </environment>
    </head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-controller="Home" asp-action="Index" class="navbar-brand">MadamTaitu</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-controller="Menu" asp-action="Menu">Menu</a></li>
                    @*<li><a asp-controller="Reservations" asp-action="Reservation">Reservations</a></li>*@
                    <li><a asp-controller="Home" asp-action="About">About</a></li>
                    <li><a asp-controller="Gallery" asp-action="Gallery">Gallery</a></li>
                    <li><a asp-controller="Reviews" asp-action="Reviews">Reviews</a></li>
                    <li><a asp-controller="Home" asp-action="Contact">Contact</a></li>

                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </div>
    <div id="wrap">
        <div id="main" class="container-fluid body-content clear-top">
            @RenderBody()
         </div>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                   
                    
                            
                            @*Physical address:
                            <a href="https://www.google.com/maps/preview?ie=UTF-8&q=The+Pentagon&fb=1&gl=us&hq=1400+Defense+Pentagon+Washington,+DC+20301-1400&cid=12647181945379443503&ei=qmYfU4H8LoL2oATa0IHIBg&ved=0CKwBEPwSMAo&safe=on">
                                78, Long street, City Bowl, Cape Town
                            </a>

                            <span class="glyphicon glyphicon-phone-alt"></span> 021 426 6969
                            Email:<a href="mailto:Support@example.com">solomun@gmail.com</a>
                            Trading hours: 12:00PM - 12:00AM
                            Social: <a href="https://www.facebook.com/search/1377441469135423/local_search?surface=tyah"><i class="fa fa-facebook-square fa-size"> </i></a>*@
                    <h5>Madam Taitou</h5>
                    
                    <ul>

                        <li>
                            Physical address:
                            <a href="https://www.google.com/maps/preview?ie=UTF-8&q=The+Pentagon&fb=1&gl=us&hq=1400+Defense+Pentagon+Washington,+DC+20301-1400&cid=12647181945379443503&ei=qmYfU4H8LoL2oATa0IHIBg&ved=0CKwBEPwSMAo&safe=on">
                                78, Long street, City Bowl, Cape Town
                            </a>
                        </li>
                        <li><span class="glyphicon glyphicon-phone-alt"></span> 021 426 6969<br></li>
                        <li>Email:<a href="mailto:Support@example.com">solomun@gmail.com</a></li>
                        <li>Trading hours: 12:00PM - 12:00AM</li>

                    </ul>
                   

                </div>
                <div class="col-sm-8 col-sm-offset-4">
                    Website developed by <a href="mailto:mkassa@gmail.com">MF Kassa</a>
                </div>
                <!-- /col-xs-7 -->
            </div>
        </div>
    </footer>
   
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/lib/angular/angular.js"></script>
        <script src="~/lib/google-geo-location/js/geo.js"></script>

        <script src="~/js/taitu-app.js"></script>
        <script type="text/javascript" src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
        <script type="text/javascript" src="~/lib/blueimp-bootstrap-image-gallery/js/bootstrap-image-gallery.js"></script>
        <script type="text/javascript" src="~/lib/spin.js/spin.js"></script>
        <script type="text/javascript" src="~/lib/angular-spinner/angular-spinner.js"></script>

    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script src="~/lib/angular/angular.min.js"></script>
        <script src="~/lib/google-geo-location/js/geo-min.js"></script>



        <script src="~/js/taitu-app.js"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
